



body 
	{
		 font-family: "Gruppo", "Trebuchet MS", "Arial";
		
	}



/* Text font-family 		*/

@font-face {
    font-family: 'Kremlin';
    src: url('/resources/fonts/kremlin.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
		
	





.mySlides {display:none; height: 100%; }

.mySlides h2 {
				font-size: 30px; font-weight:bold;
				
			}

.content 
		{
			text-align: center;
			margin: 10px;
			padding: 10px 0 35px 0;
			height: 600px;
		}
		
		
.content h1
			{
				font-size: 60px;
				
			
			}
		

.contain 
		{
			text-align: center;
			margin: 0px;
			padding: 10px 0 20px 0;
			//border: 2px solid black;
			position: relative;
			
		}



		






 .counter
		{
			background-color: white;
			color:black;
			font-weight:bold;
			font-size: 30px;
			
			
			width:100px;
			letter-spacing: 2px;
			margin:10px ;
			padding:0px;
			
			box-shadow: 2px 1px 1px 1px black  ;
			
			border-color: #9ABFA7;
			border-radius: 20px;
			
		} 
		







    
    
    
/* Changes in background color  */

body{
    background-color:White;
    animation: image 10s infinite alternate;
    animation:image 10s infinite alternate;
    animation:image 10s infinite alternate;
}



@keyframes image{
    0%{
background-color: #EC8911;		/*   // orange   */
}
15%/{
	
	background-color: #DE221F ;			/*  //red  */
    
}
30%{
    background-color: #2FC3EB ;					/*   sky blue   */
}

45%{
	background-color: #D59CB3;
}
60%{

    background-color: #9EE135 ; 			/*   // Green   */
}
75%{
    background-color: #6B73A5;			/*   //Dark Blue   */
    }
    
90%{
	background-color: #F1CF25;      /* Yellow */
}
  }  
  




@media only screen and 
					@media (min-width:320px) 		(max-device-width: 480px)		/* styles for mobile browsers smaller than 480px; (iPhone) */
  {
  
  
    .col-sm-12 
    	{
    		
	    	text-align: center  
			margin: 25px 0;
			
   		
    	}
	  
	.content
			{
				
				height: 1700px;
				padding: 20px 0 20px 0;
	  		}
	  		
	  		
	  		
	  	img{
				width:100% !important; 
				max-width: 600px !important;
	  			height: auto !important;
	  		}
		

	}




@media only screen and (device-width:768px)	@media (min-width:801px)	/* default iPad screens */
	{
      .col-sm-12 
      		{
	    		text-align: center  
				margin: 25px 0;
   		
    		}
	  
	.content
		{
			height: 1290px;
			padding: 30px 0 20px 0;
	  	}
	  	
	  	
	  img{

	  			width:100% !important; 
				max-width: 600px !important;
	  			height: auto !important;

	  		}
	
    }
    
    
    

    
    

    
    
    @media (min-width:961px) 			/* tablet, landscape iPad, lo-res laptops ands desktops */
        {
    
   	 .col-sm-12 
      		{
	    		text-align: center  
				margin: 25px 0;
   		
    		}
	  
	.content
		{
			height: 00px;
			padding: 30px 0 20px 0;
	  	}
	  	
	  	
	  img{

	  			width:100% !important; 
				max-width: 700px !important;
	  			height: auto !important;

	  		}
    
    
    }
    
    
    
    
    
    
    
    
        
   @media only screen and (min-width: 1340px)     /*  ipad pro 	*/
    {
    
   	 .col-sm-12 
      		{
	    		text-align: center  
				margin: 25px 0;
   		
    		}
	  
	.content
		{
			height: 00px;
			padding: 30px 0 20px 0;
	  	}
	  	
	  	
	  img{

	  			width:100% !important; 
				max-width: 300px !important;
	  			height: auto !important;

	  		}
    
    
    }
